<div class="titlebar">
    <div class="titlebar-controls">
        <div class="titlebar-minimize">
            <svg x="0px" y="0px" viewBox="0 0 10 1">
                <rect fill="#000000" width="10" height="1"></rect>
            </svg>
        </div>
        <div class="titlebar-close">
            <svg x="0px" y="0px" viewBox="0 0 10 10">
                <polygon fill="#000000" points="10,1 9,0 5,4 1,0 0,1 4,5 0,9 1,10 5,6 9,10 10,9 6,5"></polygon>
            </svg>
        </div>
    </div>
</div>
